:root{
    --color-primary: #f392c7;
    --color-primary-dark: #f4079d;

    --color-secundary: #9952b4;
    --color-secundary-dark: #4c0353;

    --color-gray-light: #a49f9f;
    --color-gray: #313030;
    --color-gray-dark: #0a0909;
    

}
